.feedback-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    position: relative;
    margin-bottom: 20px;
}

.feedback-rate {
    position: absolute;
    left: -20px;
    top: -15px;

    background-color: palevioletred;
    padding: 15px 20px;
    border: 1px solid #fff;
    border-radius: 100%;

    color: #fff;
}

.feedback-buttons {
    position: absolute;
    right: 0px;
    top: 0px;
}

.feedback-text {

}